//Global colour palette
$primary-color: #1e1e1e;
$secondary-color: #ffffff;
$tertiary-color: #f06423;

// Global fonts
$header-font-family: "Manrope", sans-serif;
$text-font-family: "Montserrat", Verdana;
