@use "../../assets/sass/abstracts/variables" as *;

.to-do-list-display__task-container {
  position: relative;
  border: 1px solid $primary-color;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.to-do-list-display__task-delete-button {
  position: absolute;
  right: 0%;
  &:hover {
    background-color: red;
    transition: all 1s;
  }
}
