@use "../../assets/sass/abstracts/variables" as *;

.header {
  border-bottom: 2px solid $primary-color;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
