@use "../../assets/sass/abstracts/variables" as *;

.to-do-list-display {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  padding: 0.5rem;
  background-color: $secondary-color;
}
