@use "../../assets/sass/abstracts/variables" as *;

.to-do-list-display {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  background-color: $secondary-color;
  &__task-container {
    padding: 0.5rem;
    margin: 0.2rem;
  }
  &__task-text {
    overflow-wrap: break-word;
    padding-left: 0.4rem;
    font-weight: bold;
    max-width: 70%;
  }
  &__task-delete-button {
    margin-right: 0.2rem;
  }
}
